@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.main-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  padding: 20px 0;
  background: #f1f1f1;
  text-align: center;
}

main {
  padding: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
